{% extends "bare.html" %}
{% block content %}
    <div class="container h-75">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <div class="row justify-content-center">
                    <h2>$404 = 2^1 \times 2^1 \times 101^1$</h2>
                </div>
                <div class="row justify-content-center">
                    <span class="text-muted">
                        This page is not found...
                    </span>
                </div>
                <div class="row justify-content-center">
                    <span class="text-muted">
                You could recheck the url, or <a href="/">Go back to home page.</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
