<script type="text/x-template" id="change_password_template">
    <div class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="alert" :class="{'alert-warning':!success,'alert-success':success}" role="alert"
                         v-show="alert_show">
                        <span v-html="alert_msg"> </span>
                    </div>
                    <form @submit.prevent="handle_change_pwd">

                        <div class="form-group">
                            <label for="old_pwd">
                                Old password
                            </label>
                            <input type="password" class="form-control" v-model="old_pwd" id="old_pwd"
                                   autocomplete="current-password"
                                   required
                            />
                        </div>

                        <fieldset class="form-group">
                            <label for="new_pwd">
                                New password
                            </label>
                            <input type="password" class="form-control" v-model="new_pwd" id="new_pwd"
                                   :class="is_password_ok(new_pwd)?'is-valid':'is-invalid'"
                                   autocomplete="new-password"
                                   required
                            >
                            </input>
                            <div class="valid-feedback d-block" v-if="is_password_ok(new_pwd)">
                                Looks good!
                            </div>
                            <div class="invalid-feedback d-block" v-else>
                                Password should have length of 6 to 20, and should contain at least 1 uppercase
                                letter, 1 lowercase letter, 1 number.
                            </div>
                        </fieldset>
                        <button class="form-control btn btn-block btn-primary">Confirm</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    Vue.component('change_password', {
        template: '#change_password_template',
        data() {
            return {
                old_pwd: '',
                new_pwd: '',
                alert_show: false,
                alert_msg: '',
                success: false,
            }
        },
        computed: {
            pwd_info() {
                return {
                    old_pwd: this.old_pwd,
                    new_pwd: this.new_pwd
                }
            }
        },
        methods: {
            handle_change_pwd() {
                api.users['0'].password.put({
                    ...this.pwd_info
                }).then((res) => {
                    console.log(res.data);
                    this.alert_msg = res.data.error_msg;
                    this.success = true;
                    this.old_pwd = '';
                    this.new_pwd = '';
                }).catch((err) => {
                    this.alert_msg = err.response.data.error_msg;
                    this.success = false;
                }).finally(() => {
                    this.alert_show = true;
                })
            }
        }
    });
</script>
