<script type="text/x-template" id="signin_component_template">
    <form @submit.prevent="handleSubmit">
        <div class="text-center">
            <h3>Sign In to arXivER</h3>
        </div>
        <div class="alert alert-warning" role="alert" v-show="show_alert">
            Sign in failed. Please check your username or password.
        </div>
        <fieldset class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" v-model="username" tabindex="1" required>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-3">
                    <label for="password">Password</label>
                </div>
                <div class="col-9 text-right">
                    <a href="javascript:void(0)">
                        Forgot password? Send email to manager.
                    </a>
                </div>
            </div>
            <input type="password" class="form-control" id="password" v-model="password" tabindex="2" required>
        </fieldset>
        <fieldset class="form-group">
            <input type="checkbox" id="remember">
            <label for="remember">Remember Me</label>
        </fieldset>
        <div class="mt-4">
            <button type="submit" class="btn btn-block btn-primary" tabindex="3">Sign in</button>
        </div>
        <div class="container">
            <div class="row mt-3">
                <a href="/signup">Don't have an account?</a>
            </div>
            <div class="row mt-1">
            </div>
        </div>
    </form>
</script>
<script>

    Vue.component('signin', {
        template: '#signin_component_template',
        data() {
            return {
                username: '',
                password: '',
                show_alert: false,
            }
        },
        methods: {
            handleSubmit() {
                this.show_alert = false;
                api.auth.post(this.user_info).then((res) => {
                    localStorage.token = res.data.token || '';
                    window.location = '/queue';
                }).catch((err) => {
                    this.show_alert = true;
                })
            },
        },
        computed: {
            user_info() {
                return {
                    username: this.username,
                    password: this.password
                }
            }
        }
    });
</script>
